body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.navbar {
  background-color: rgba(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding-left: 10vw;
  padding-right: 10vw;
  /* background-color: white; */
}

.navbar a {
  color: white;
  font-size: 1.3rem;
  transition: 0.4s;
  /* transition: 6s; */
}

.nav-link:hover {
  border-bottom: 2px solid #ffde59;
}

.register-btn {
  border: 0px;
  border-radius: 50px;
  font-size: 18px;
  padding: 10px 20px;
  /* margin-top: 15%; */
  /* letter-spacing: px; */
  font-weight: 700;
  background-color: #f7b744;
  color: white;
  /* border: 5px solid #f7b744; */
  text-transform: uppercase;
  transition: 0.3s;
  /* background-color: #000; */
}

.register-btn:hover {
  box-shadow: 0px 0px 0px 1px rgb(0, 0, 0), 0px 0px 0px 4px #f1c40f,
    0px 0px 0px 6px black, 0px 0px 0px 8px #f1c40f;
  background: black;
  color: #f7b744;
}

.main-section {
  /* padding-bottom: 180px; */
  /* height: 1000px; */
  height: 100vh;
}

/* canvas {
  display: block;
} */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgb(34, 193, 195); */
  /* background: radial-gradient(rgb(158, 86, 28) 0%, rgba(255, 222, 89, 1) 100%); */
  /* background: rgb(212, 108, 78);
  background: linear-gradient(
    99deg,
    rgba(212, 108, 78, 1) 0%,
    rgba(249, 224, 127, 1) 75%,
    rgba(127, 186, 179, 1) 100%
  ); */
  background-color: rgba(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -10;
}

#particles-js canvas {
  height: 100% !important;
}

.title-container {
  /* z-index: 1; */
  color: #f7b744;
  padding-top: 100px;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  padding-top: 10%;
}

.tagline {
  font-size: 1.75rem;
}

.main-button {
  border: 0px;
  border-radius: 50px;
  font-size: 22px;
  padding: 20px 35px;
  margin-top: 15%;
  letter-spacing: 1px;
  font-weight: 700;
  color: #f7b744;
  border: 5px solid #f7b744;
  text-transform: uppercase;
  transition: 0.3s;
  background-color: #000;
}

.main-button a {
  color: #f7b744;
}

.main-button:hover {
  box-shadow: 0 3px 15px 0 #ffde59 inset, 0 3px 15px 0 #ffde59,
    0 3px 15px 0 #ffde59 inset, 0 3px 15px 0 #ffde59;
}

.main-button a:hover {
  text-decoration: none;
}

section {
  padding-bottom: 100px;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #8a2c02;
}
/* .module:nth-child(even) {
  margin-right: 0;
} */

.come-in {
  transform: translateY(150px);
  animation: come-in 1s ease forwards;
}
/* 
.come-in:nth-child(odd) {
  animation-duration: 0s;
} */

.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

.about-container {
  padding: 7% 10%;
  background-image: -webkit-linear-gradient(70deg, #f0f4f8 50%, #f7fafc 50%);

  /* width: 60%; */
  /* margin-left: 10%; */
}

.about-content {
  margin-top: 60px;
  font-size: 1.2rem;
  font-weight: 500;
}

.about-img {
  width: 100%;
  height: 100%;
}

.vision-content {
  /* margin-top: 60px; */
  font-size: 1.2rem;
  font-weight: 500;
  /* padding: 0% 10% 5%; */
  padding-bottom: 5%;
}

.vision-card2 {
  background-image: url('https://images.squarespace-cdn.com/content/v1/59c06fea49fc2b2ac8b90d77/1506616928483-B7IH952VB1JE1V2KSHZF/ke17ZwdGBToddI8pDm48kNUNsbxa-1ftaDGIVMB32aZZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzZGLaZEy-KzdcvDgLoH8ebcwVsYMYWbF6MmK__Zo5ZUxFShsVMM9W3FDPoAdkLID0/kids_using_computers_online_safely-630x350_1.jpg');
  background-size: cover;
}

.layer2 {
  height: 100%;
  width: 100%;
  background-color: rgba(140, 40, 62, 0.55);
}
.vision-card1 {
  background-image: url('https://media.apnarm.net.au/media/images/2018/02/28/b881247985z1_20180228095529_000gja10anj83-0-pookluo4l0i4gdekup2_fct1919x1425x184x31_t1880.jpg');
  background-size: cover;
}

.layer1 {
  height: 100%;
  width: 100%;
  background-color: rgba(238, 215, 9, 0.55);
}

.vision-card3 {
  background-image: url('https://images1.whatuni.com/commimg/myhotcourses/blog/post/myhc_81621.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.layer3 {
  height: 100%;
  width: 100%;
  background-color: rgba(16, 134, 144, 0.55);
}

.section-heading2 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #8a2c02;
  /* margin-left: 130px; */
}

.v-card {
  padding: 7% 10%;
  color: white;
  height: 60vh;
  text-align: center;
}

.v-card-bg {
  transition: 0.5s;
}

.v-card-bg:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

.vision-heading {
  margin-top: 8vh;
  margin-bottom: 4vh;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.highlight-icon {
  /* margin: 30px auto 0; */
  height: 72px;
  width: 72px;
  margin-right: 20px;
  color: yellow;
}

.highlight-section {
  background-image: -webkit-linear-gradient(100deg, #f0f4f8 50%, #f7fafc 50%);
}

.item-container {
  transition: 0.4s;
}
.item-container:hover {
  box-shadow: rgb(255, 255, 255) 5px -5px 0px -3px, rgb(255, 217, 0) 7px -7px,
    rgb(255, 255, 255) 12px -12px 0px -3px, rgb(255, 238, 151) 14px -14px;

  /* box-shadow: rgba(90, 90, 90, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

/* .vision-section {
  padding-bottom: 10vh;
} */

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/* .highlight-section {
  padding-top: 5vh;
  padding-bottom: 10vh;
} */

.testimonial-section {
  /* background-color: #ffde59; */
  background-color: #013a6b;
  background-image: -webkit-linear-gradient(110deg, #f7b744 50%, #eeece0 50%);
}

.testimonial-card {
  width: 90%;
  background-color: #fff;
  /* min-height: 65vh; */
  border-radius: 15px;
  transition: 0.2s;
}

.testimonial-card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 16px;
}

.testimonial-card:hover {
  border: 3px solid;
  /* transform: scale(1.02); */
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6); */
}

.alternate-section {
  background-color: #eeece0;
}

.vision-section,
.about-section {
  padding-bottom: 0;
}

.card svg {
  margin: auto;
  margin-bottom: 40px;
}

.courses-section {
  background-image: -webkit-linear-gradient(70deg, #f0f4f8 50%, #f7fafc 50%);
}

.course-card {
  transition: 0.5s;
  /* border-radius: 10px !important; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* border: 0.5px solid; */
}

.course-card-img {
  /* border-radius: 10px 10px 0 0; */
  /* border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important; */
}

.course-card:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.trial-button {
  padding: 15px 30px;
  font-size: 22px;
  font-weight: 700;
  border-radius: 40px;
  border: 4px solid #108690;
  background-color: white;
  color: rgb(16, 134, 144);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.trial-button a {
  color: #108690;
  text-decoration: none;
}

.slide-btn:hover,
.slide-btn:focus {
  box-shadow: inset 15em 0 0 0 var(--hover);
  color: white;
}

.slide-btn {
  /* --color: #fff; */
  --hover: #108690;
}

.trial-button a:hover {
  color: white;
}

.footer {
  background-color: black;
  color: white;
}

.info-label {
  font-weight: 600;
  font-size: 20px;
}

.logo-footer {
  width: 100%;
}

.shadow-top {
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.15);
}

@media (max-width: 426px) {
  .title {
    font-size: 2rem;
  }

  .tagline {
    font-size: 1.5rem;
  }

  .main-button {
    font-size: 20px;
  }
}

@media (max-width: 484px) {
  .section-heading2 {
    margin-left: 5vh;
  }
}

@media (max-width: 500px) {
  .section-heading,
  .section-heading2 {
    font-size: 2rem;
    letter-spacing: 0px;
    margin: auto;
  }

  .about-content {
    margin-top: 30px;
  }
}

@media (max-width: 992px) {
  .vision-heading {
    margin-top: 2vh;
  }
  .footer {
    text-align: center;
  }
  .logo-footer {
    width: 40%;
  }
  .footer .info {
    padding-bottom: 2vh;
  }
}

@media (max-width: 768px) {
  .course-card {
    margin-bottom: 4vh;
  }
}
